@keyframes hover {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 4px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes hover-lg {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 10px;
  }
  100% {
    translate: 0 0;
  }
}

#eyes {
  #eye-left,
  #eye-right {
    transition: all 700ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  &.smiling {
    #eye-left {
      d: path("M43 41.1827C48.2762 38.3017 51.2258 38.2433 56.5 41.1827");
    }
    #eye-right {
      d: path("M83 41.1827C88.2762 38.3017 91.2258 38.2433 96.5 41.1827");
    }
  }
  &.resting {
    #eye-left {
      d: path("M43 41.1828C48.5 40.4999 51 40.5 56.5 41.1828");
    }
    #eye-right {
      d: path("M83 41.1829C88.5 40.5002 91 40.5 96.5 41.1829");
    }
  }
  &.angry {
    #eye-left {
      d: path("M43.1638 39.427C48.6532 40.191 51.068 40.8381 56.2038 42.9211");
    }
    #eye-right {
      d: path(
        "M83.2963 42.9213C88.4322 40.8384 90.847 40.1911 96.3363 39.4273"
      );
    }
  }
  &.sad {
    #eye-left {
      d: path(
        "M43.2964 42.9212C48.4322 40.8381 50.8471 40.1911 56.3364 39.4271"
      );
    }
    #eye-right {
      d: path("M83.1636 39.4269C88.6529 40.191 91.0678 40.8379 96.2036 42.921");
    }
  }
}
